<h1>My Bookings</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= booking.ship.name %> from <%= booking.start_date %> to <%= booking.end_date %> <%= link_to "Edit Booking", edit_ship_booking_path(booking.ship, booking), class:"btn btn-primary m-3" %></li>
  <% end %>
</ul>

<hr>
<h1>Pending Bookings</h1>
<% @pending_bookings.each do |booking| %>
  <p>
    <%= booking.ship.name %> from <%= booking.start_date %> to <%= booking.end_date %>
    <%= link_to "Confirm", ship_booking_accept_path(booking.ship, booking, accepted: true), data: {turbo_method: :patch} %>
  </p>
<% end %>

<%= link_to "All Ships", ships_path %>
