<h1>The Hanger</h1>

  <div class="card-product my-3">
    <% @ships.each do |ship| %>
      <% if ship.photo.attached? %>
        <%= cl_image_tag ship.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="https://images-cdn.fantasyflightgames.com/filer_public/02/ab/ 02ab0d04-978a-444d-b862-f9d79cbee964/swz12_t65-x-wing.png" />
      <% end %>
      <div class="card-product-infos">
        <h2><%= link_to ship.name, ship_path(ship) %></h2>
        <p> <strong> <%= ship.model %> </strong>available for this battle, only <strong> <%= ship.cost %></strong> space credits only.</p>
      </div>
    <% end %>
  <%# </div> %>




<hr>
<br>
<% if current_user  %>
  <%= link_to 'Create Ship', new_ship_path %>
<% end %>
