<div class="form-group mt-3">
  <%= simple_form_for @ship do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :crew %>
    <%= f.input :weapons %>
    <%= f.input :strengths %>
    <%= f.input :weaknesses %>
    <%= f.button :submit, class:"btn btn-primary" %>
  <% end %>
</div>
