<h1><%= @ship.name.capitalize %></h1>
<p><%= @ship.description %></p>
<p><%= @ship.crew %></p>
<p><%= @ship.weapons %></p>
<p><%= @ship.strengths %></p>
<p><%= @ship.weaknesses %></p>

<%= link_to "All Ships", ships_path %>
<br>
<%= link_to "Edit Ship", edit_ship_path(@ship) %>
<br>
<%= link_to "Eliminate Ship", ship_path(@ship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
