<h1><%= @ship.name.capitalize %></h1>
<p>Model: <%= @ship.model %></p>
<p>Credits: <%= @ship.cost%></p>
<p>Ship length: <%= @ship.length%></p>
<p>Atmospheric speed: <%= @ship.atmospheric_speed %></p>
<p>Crew: <%= @ship.crew %></p>
<p>Passengers: <%= @ship.passengers %></p>

<% if current_user != @ship.user %>
  <%= link_to "Book Ship", new_ship_booking_path(@ship) %>
<% end %>
<%= link_to "All Ships", ships_path %>
<br>
<% if current_user == @ship.user %>
  <%= link_to "Edit Ship", edit_ship_path(@ship) %>
  <br>
  <%= link_to "Eliminate Ship", ship_path(@ship), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
<% end %>
