<!DOCTYPE html>
<html>
  <head>
    <title>RebelRentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
      <%= yield %>
    </div>
    <br>
    <hr>
    <div class="footer">
      <div class="footer-copyright">
        This hanger is made with <i class="fas fa-heart"></i> at Tattoine. May the force be with you.
      </div>
    </div>
  </body>
</html>
